.Chosen {
  font-family: var(--font-famili);
}

.ChosenList {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
  list-style-type: none;
}

.ChosenList-country {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 40px;
}
